.container {
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;
    background: #f4f4f4;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, button {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
}
.user-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    word-break: break-word;
}
.user-container img {
    max-width: 100px;
    margin-bottom: 20px;
}
.user-container button {
    margin-top: 10px;
}

button {
    background-color: #9476b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #451d70;
}

